language: go
sudo: false
os:
    - linux
    - osx
env:
  - GOCACHE=$HOME/.cache/go-build
go_import_path: github.com/aws/amazon-ecs-cli
go:
    - 1.9.x
    - 1.10.x
    - 1.11.x
    - 1.12.x
script:
    - make test
    - make
    - ./bin/local/ecs-cli --version
